<!DOCTYPE html>
<html>
    <head>
        <title>WebServer on {{ ipaddress }}</title>
    </head>
    <body>
        <center><h1>WebServer</h1></center>
        <h2>Successfully connected to WebServer {{ servname }} on {{ ipaddress }}</h2>
    </body>
</html>